.banner {
  color: white;

  .banner-picture{
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    background-position: auto;

    &:after{
      padding-top: percentage(650/1280);
      display:  block;
      content: '';
    }
  }

  .hackfest-banner {
    background-image: image-url("contact-banner.jpg");
    background-position: 50% 42%;

    .banner-text-wrapper  {
      text-align: center;

      //vertical centered text on banner from css-tricks
      &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      h2  {
        padding-top: 90px;

      }
    }

    .contact-text{
      display: inline-table;
      vertical-align: middle;
      position: relative;
      z-index: 50;
      font-size: 20px;

      .text{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.outer-container  {
  @include outer-container;

  .conversation {
    aside { @include span-columns(3); }
    article { @include span-columns(9); }

    p  {
      padding-top: 30px;
    }
  }

  .email-phone-address  {
    float: right;
    margin-top: 60px;
    padding-left: 30px;

    .email  {
      padding-bottom: 20px;
    }

    .phone  {
      padding-bottom: 20px;
    }

    .address  {
      padding-bottom: 20px;
    }
  }

  .contact-form  {
    @include span-columns(9);
    aside { @include span-columns(6); }
    article { @include span-columns(6); }
  }

  // .contact-form {
  //   @include outer-container;
  //   aside { @include span-columns(4.5); }
  //   article { @include span-columns(4.5); }
  // }
}
