.pages-contact  {
  .banner {
    color: white;

    .banner-picture{
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      vertical-align: middle;

      &:after{
        padding-top: percentage(500/1280);
        display:  block;
        content: '';
      }

      @include media($break-small-medium){
        &:after{
          padding-top: percentage(800/1280);
        }
      }
    }

    .contact-banner {
      background-image: image-url("contact-banner.jpg");
      background-position: 50% 42%;

      .banner-text-wrapper  {
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        //vertical centered text on banner from css-tricks
        &:before{
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }

      .contact-text{
        display: inline-table;
        vertical-align: middle;
        font-size: 22px;

        @include media($break-medium)  {
          font-size: 18px;

          h1 {
            font-size: 36px;
          }
        }

        @include media($break-small-medium)  {
          font-size: 12px;

          h1 {
            font-size: 28px;
          }
        }

        @include media($break-small)  {
          font-size: 10px;

          h1 {
            font-size: 22px;
          }
        }
      }
    }
  }

  .outer-container  {
    @include outer-container;

    .conversation {
      aside { @include span-columns(3); }
      article { @include span-columns(9); }

      @include media($break-large-medium)  {
        aside { @include span-columns(2); }
        article { @include span-columns(12); }
      }

      h2  {
        padding-top: 125px;
        color: #EA6045;
        font-size: 32px;

        @include media($break-medium)  {
          font-size: 28px;
          padding-top: 50px;
          text-align: center;
          padding-right: 20px;
        }
      }

      p  {
        padding-top: 20px;
        font-size: 16px;
      }
    }

    .email-phone-address  {
      float: right;
      margin-top: 180px;
      padding-left: 30px;

      .email, .phone, .address  {
        padding-bottom: 20px;

        a {
          color: gray;

          .hover {
            background-color: yellow;
          }
        }
      }

      .phone  {
        @include media($break-large-xlarge)  {
          display: block;
          text-align: center;
        }
      }

      .address {
        display: inline-flex;
        vertical-align: top;

        @include media($break-large-xlarge)  {
          display: block;
          text-align: center;
        }
      }

      [class^="icon-"], [class*=" icon-"]  {
        color: #EA6045;
        padding-right: 15px;

        @include media($break-large-xlarge)  {
          display: block;
          text-align: center;
        }
      }

      @include media($break-large-xlarge)  {
        display: inline-block;
      }

      @include media($break-large-medium)  {
        display: none;
      }
    }

    .contact-form  {
      @include span-columns(9);
      padding-bottom: 50px;

      .error{
        color: $red;
        border-color: $red;
      }

      .grid  {
        .field  {
          @include span-columns(6);
          @include omega(2n);

          @include media($break-small-medium)  {
            @include span-columns(12);
          }
        }
      }

      .button  {
        @include media($break-small-medium)  {
          text-align: center;
        }
      }

      @include media($break-large-medium)  {
        @include span-columns(12);
        @include omega(2n);
      }
    }

    @include media($break-large-xlarge)  {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include media($break-small)  {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.email-phone-address-bottom  {
  display: none;

  [class^="icon-"], [class*=" icon-"]  {
    color: #EA6045;
    padding-right: 15px;
  }

  @include media($break-large-medium)  {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .address  {
      display: inline-flex;
    }
  }
  .email, .phone, .address  {
    padding-bottom: 20px;

    a {
      color: gray;

      .hover {
        background-color: yellow;
      }
    }
  }
}

.building-great-apps{
  @extend %contact-section;
  background-color: $orange;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 90px;
  padding-bottom: 90px;

  @include media($break-small)  {
    font-size: 14px;
  }

  h3{
    color: white;
    font-size: em(30);
    margin-bottom: 26px;
    text-align: center;

    @include media($break-small)  {
      display: block;
      font-size: 22px;
    }
  }
}
