.pages-home {
  %contact-section{
    background-color: $yellow;
    padding: 63px 0;
    text-align: center;

    h3{
      color: white;
      font-size: em(30);
      margin-bottom: 26px;
    }

    .contact-link{
      @extend %button-text;
      border: 2px solid #A09455;
      border-radius: $base-border-radius;
      color: #3F5466;
      display: inline-block;
      font-size: em(22);
      padding: 11px 32px;
    }
  }


  .banner {
    height: 650px;

    background-image: image-url("main-banners/hackfest.jpg");
    background-size: cover;
    background-position: 50% 42%;
  }

  .about-us {
    padding-top: 120px;
    text-align: center;

    .about-us-wrapper{
      display: inline-block;
    }

    h2 {
      color: $dark-gray-blue;
      font-size: 30px;
      line-height: 1.2;
    }

    p {
      font-size: em(20);
    }

    // Adapted from http://css-tricks.com/examples/hrs/
    hr {
      border-bottom: 1px solid $light-gray;
      margin: 32px auto;
      width: 95%;

      &::after{
        @include size(120px 22px);
        content: "";
        display: inline-block;
        position: relative;
        background-image: image-url('hr-diamonds.png');
        background-color: white;
        top: -11px;
      }
    }
  }

  .services {
    @include row;

    .service-container {
      @include span-columns(3);
      @include omega(4n);

      h4 {
        color: $orange;
        font-size: em(18);
        line-height: 1.2;
      }
    }
  }

  .have-a-project-in-mind {
    @extend %contact-section;
  }

  .featured-projects{
    @include row();
    .project{
      @include span-columns(3);

      background-color: $orange;
      height: 320px;
      margin: 0;
      width: 25%;
    }
  }

  .featured-case-study{
    height: 650px;
    background-color: $dark-gray;
  }

  .featured-clients{
    height: 160px;
  }

  .building-great-apps{
    @extend %contact-section;
    background-color: $orange;

    .contact-link{
      color: $yellow;
      border-color: #F29140;
    }
  }

}
