.pages-home {
  %contact-section{
    background-color: $yellow;
    padding: 63px 0;
    text-align: center;

    h3{
      color: white;
      font-size: em(30);
      margin-bottom: 26px;
    }

    .contact-link{
      @extend %button-text;
      border: 2px solid #A09455;
      border-radius: $base-border-radius;
      color: #3F5466;
      display: inline-block;
      font-size: em(22);
      padding: 11px 32px;
    }
  }

  .banner {
    color: white;

    .banner-picture{
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      height: 600px;

      @include media($break-large-xlarge){
        height: auto;

        &:after{
          padding-top: percentage(650/1280);
          display:  block;
          content: '';
        }
      }

      @include media($break-small-medium ){
        &:after{
          padding-top: percentage(1000/1280);
        }
      }
    }

    .hackfest-banner {
      background-image: image-url("main-banners/hackfest.jpg");
      background-position: 50% 42%;
      display: none;

      .gradient{
        @include linear-gradient(to left, rgba(#000000,0), rgba(#000000,1));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .banner-text-wrapper  {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;

        //vertical centered text on banner from css-tricks
        &:before{
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em;
        }
      }

      .banner-text{
        display: inline-table;
        vertical-align: middle;
        position: relative;
        z-index: 50;
        font-size: 20px;

        .text{
          display: table-cell;
          vertical-align: middle;

          @include media($break-large-xlarge) {
            font-size: 18px;
          }

          @include media($break-large) {
            font-size: 16px;
          }

          @include media($break-large-medium)  {
            font-size: 14px;
          }

          @include media($break-medium)  {
            font-size: 12px;
          }

          @include media($break-medium-small)  {
            font-size: 10px;
          }

          @include media($break-small)  {
            font-size: 8px;
          }
        }

        .bracket{
          display: table-cell;
          font-size: 200px;
          vertical-align: middle;

          @include media($break-large-xlarge) {
            font-size: 190px;
          }

          @include media($break-large) {
            font-size: 175px;
          }

          @include media($break-large-medium)  {
            font-size: 160px;
          }

          @include media($break-medium)  {
            font-size: 130px;
          }

          @include media($break-medium-small)  {
            font-size: 110px;
          }

          @include media($break-small)  {
            font-size: 90px;
          }

        }
      }
    }

    .acl-gocode-banner {
      background-image: image-url("main-banners/acl-gocode.jpg");
      background-position: 50% 50%;
      display: none;

      .gradient{
        background-color: rgb(237, 93, 54);
        opacity: .5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .banner-text-wrapper{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        text-align: center;

      }

      .banner-text{
        display: inline-table;
        font-size: 20px;

        .text{
          display: table-cell;
          vertical-align: middle;

          @include media($break-large-xlarge) {
            font-size: 14px;
          }

          @include media($break-large) {
            font-size: 13px;
          }

          @include media($break-large-medium)  {
            font-size: 12px;
          }

          @include media($break-medium)  {
            font-size: 11px;
          }

          @include media($break-medium-small)  {
            font-size: 10px;
          }

          @include media($break-small)  {
            font-size: 6px;
          }
        }

        .bracket{
          display: table-cell;
          font-size: 200px;
          vertical-align: middle;

          @include media($break-large-xlarge) {
            font-size: 100px;
          }

          @include media($break-large) {
            font-size: 140px;
          }

          @include media($break-large-medium)  {
            font-size: 130px;
          }

          @include media($break-medium)  {
            font-size: 110px;
          }

          @include media($break-medium-small)  {
            font-size: 90px;
          }

          @include media($break-small)  {
            font-size: 40px;
          }

        }
      }
    }

    .sneffels-banner{
      background-image: image-url("main-banners/sneffels.jpg");
      background-position: 11% 0;

      .banner-text-wrapper  {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;

        //vertical centered text on banner from css-tricks
        &:before{
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em;
        }
      }

      .banner-text{
        display: inline-table;
        vertical-align: middle;
        position: relative;
        z-index: 50;
        font-size: 20px;

        .text{
          display: table-cell;
          vertical-align: middle;
        }

        .bracket{
          display: table-cell;
          font-size: 200px;
          vertical-align: middle;
        }

        @include media($break-large-xlarge){
          .text{ font-size: 18px; }
          .bracket{ font-size: 190px; }
        }

        @include media($break-large){
          .text{ font-size: 16px; }
          .bracket{ font-size: 175px; }
        }

        @include media($break-large-medium){
          .text{ font-size: 14px; }
          .bracket{ font-size: 160px; }
        }

        @include media($break-medium){
          .text{ font-size: 12px; }
          .bracket{ font-size: 130px; }
        }

        @include media($break-medium-small){
          .text{ font-size: 10px; }
          .bracket{ font-size: 110px; }
        }

        @include media($break-small){
          .text{ font-size: 8px; }
          .bracket{ font-size: 90px; }
        }
      }
    }
  }

  .about-us {
    padding-top: 120px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;

    @include media($break-small)  {
      padding-top: 50px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .about-us-wrapper{
      display: inline-block;

      @include media($break-small)  {
        font-size: 18px;
      }
    }

    h2 {
      color: $dark-gray-blue;
      font-size: 30px;
      line-height: 1.2;

      @include media($break-small)  {
        margin-bottom: 30px;
        font-size: 22px;
      }
    }

    p {
      font-size: em(20);
    }

    // Adapted from http://css-tricks.com/examples/hrs/
    hr {
      border-bottom: 1px solid $light-gray;
      margin: 32px auto;
      width: 95%;

      &::after{
        @include size(120px 22px);
        content: "";
        display: inline-block;
        position: relative;
        background-image: image-url('hr-diamonds.png');
        background-color: white;
        top: -11px;
      }
    }
  }

  .services {
    @include row;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;

    .service-container {
      display: inline-block;
      margin-right: -0.25em;
      vertical-align: top;
      width: 25%;


      padding-right: 20px;
      padding-left: 20px;
      margin-top: 30px;
      margin-bottom: 30px;

      .service-container-icon{
        color: $dark-gray-blue;
        font-size: 106px;
        text-align: center;
      }

      h4 {
        color: $orange;
        font-size: em(18);
        line-height: 1.2;
        padding-bottom: 10px;
      }

      p{ margin: 0;}

      @include media($break-large-xlarge) {
        width: 50%;
      }


      @include media($break-small)  {
        width: 100%;
        padding-top: 5px;
        font-size: 16px;
      }
    }
  }

  .have-a-project-in-mind {
    @extend %contact-section;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 60px;

    @include media($break-small)  {
      font-size: 14px;
    }
  }

  .featured-projects{
    @include row();
    .project{
      @include span-columns(3);

      text-align: justify;
      background-color: $orange;
      margin: 0;
      width: 25%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      @include media($break-medium) {
        width: 50%;
      }

      @include media($break-small)  {
        width: 100%;
      }

      .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #DDD;
        opacity: 0;
        background-color: rgba(237, 93, 54, 0.5);
        text-align: center;
        @include transition(opacity .2s ease-in-out);

        //vertical centered text on banner from css-tricks
        &:before{
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em;
        }

        .featured-project-text{
          display: inline-block;
          color: white;
          padding: 10px;
          width: 100%;
          vertical-align: middle;

          h4{
            border-bottom: 2px solid white;
            font-size: 30px;
            margin-bottom: 10px;
            padding-bottom: 10px;
          }

          h5{
            @extend %button-text;
            font-weight: 700;
          }
        }
      }

      &:hover .overlay {
        opacity: 1;
      }

      &:after{
        padding-top: 100%;
        display:  block;
        content: '';
      }

      &.gopago{
        @include retina-image('featured-projects/gopago', 100% 100%, $extension: jpg, $asset-pipeline: true);
      }

      &.recognized{
        @include retina-image('featured-projects/recognized', 100% 100%, $extension: jpg, $asset-pipeline: true);
      }

      &.bike2020{
        @include retina-image('featured-projects/bike2020_mobile', 100% 100%, $extension: jpg, $asset-pipeline: true);
      }

      &.bizlink{
        @include retina-image('featured-projects/bizlink_desktop', 100% 100%, $extension: jpg, $asset-pipeline: true);
      }
    }
  }

  .featured-case-study {
    @include row;
    background-color: $dark-gray;
    background-image: image-url('featured-case-study/go-code-water-bottle.jpg');
    background-size: cover;
    background-position: 83% 50%;
    position: relative;
    height: 650px;

    .mobile-nav-toggle  {
      display: none;
    }

    .case-study {
      width: 100%;
      max-width: 500px;
      padding-left: 40px;
      position: absolute;
      right: 0px;

    // @include media($break-small-medium)  {
    //   .mobile-nav-toggle  {
    //     display: inline-block;
    //     float: right;
    //   }
    //
    //   nav {
    //     display: none;
    //   }
    // }

      // nav {
      //   @extend %header-text;
      //   font-size: 14px;
      //
      //   @include media($break-small-medium)  {
      //     display: none;
      //   }
      //
      //   ul {
      //     @include row;
      //     margin-right: 30px;
      //
      //     li {
      //       @include span-columns(3);
      //
      //       a {
      //         color: $medium-gray;
      //       }
      //     }
      //   }
      // }

      .case-study-text {
        margin-top: 100px;
        margin-right: 40px;

        h3 {
          color: $orange;
          font-size: 30px;
        }

        h4 {
          color: white;
          font-size: 30px;
        }

        p{
          margin-top: 30px;
          color: white;
        }
      }
    }
  }

  // See http://css-tricks.com/equidistant-objects-with-css/
  .featured-clients{
    text-align: justify;
    font-size: 0.1px;
    padding: 70px;

    &:after{
      content: '';
      width: 100%;
      display: inline-block;
    }

    .logo-wrap{
      display: inline-block;
      vertical-align: middle;
    }

    @include media($break-large-medium)  {
      display: block;
      text-align: center;

      .logo-wrap {
        margin: 20px;
      }
    }

    @include media($break-small)  {
      display: block;
      text-align: center;

      .logo-wrap {
        display: block;
        margin-bottom: 50px;
      }
    }
  }

  .building-great-apps{
    @extend %contact-section;
    background-color: $orange;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 60px;

    @include media($break-small)  {
      font-size: 14px;
    }

    h3{
      color: white;
      font-size: em(30);
      margin-bottom: 26px;

      @include media($break-small)  {
        display: block;
        font-size: 22px;
      }
    }
    .contact-link{
      color: $yellow;
      border-color: #F29140;
      margin-left: 0px;

      @include media($break-small)  {
        display: block;
        font-size: 22px;
      }
    }
  }
}
