<% content_for(:extra_body_classes, 'pages-contact') %>

<% meta title: 'Contact Us | Animas Code Labs',
description: "Hire Animas Code Labs as your web and mobile app developer" %>

<section class="banner">
  <div class="hackfest-banner banner-picture">
    <div class="banner-text-wrapper">
      <div class="contact-text">
        <h1>CONTACT US</h1>
        <p>LET'S TAKE YOUR PROJECT TO NEW HEIGHTS</p>
      </div>
    </div>
  </div>
</section>

<section class="outer-container">
  <section class="conversation">
    <div class="conversation-text">
      <article>
        <h2>Let's begin the conversation</h2>
        <p>Dolor ullamco elit non id sit adipisicing irure occaecat ex aliquip. Laborum cillum quis pariatur sint cupidatat
          aute tempor aliquip magna cillum et. Velit aliquip labore ea fugiat sit cupidatat est et. Anim eiusmod quis
          irure ipsum sit adipisicing reprehenderit commodo minim do veniam. Ex esse consequat magna adipisicing ut
          sit proident tempor consectetur non. Enim aute eiusmod aliqua labore amet ad commodo consectetur reprehenderit
          eu eiusmod non officia anim.
        </p>
      </article>
      <aside>
        <section class="email-phone-address">
          <div class="email">
            <i class="icon-mail"></i>
              <%= mail_to "info@animascodelabs.com" %>
          </div>
          <div class="phone">
            <i class="icon-phone"></i>
              <%= link_to "970-403-5085", "tel:1-970-403-5085" %>
          </div>
          <div class="address">
            <i class="icon-location"></i>
              <address>367 Valley View Place<br>
              Bayfield, CO 81122</address>
          </div>
        </section>
      </aside>
    </div>
  </section>

  <section class="contact-form">
      <form action="">
        <div class="grid">
          <div class="field">
            <input id="first-name" type="text" placeholder="First Name"/>
          </div>
          <div class="field">
            <input id="last-name" type="text" placeholder="Last Name"/>
          </div>
          <div class="field">
            <input type="email" placeholder="Email"/>
          </div>
          <div class="field">
            <input type="tel" placeholder="Phone"/>
          </div>
        </div>
        <div class="message">
          <textarea placeholder="Tell us about your project or just drop us a line." rows="9"></textarea>
        </div>
        <br>
        <div class="button">
          <button type="submit">LET'S GET STARTED</button>
        </div>
      </form>
  </section>
</section>

<section class="building-great-apps">
  <h3>Building Great Applications at 6512' Elevation.</h3>
</section>
