<% meta title: 'Contact Us | Animas Code Labs',
description: "Hire Animas Code Labs as your web and mobile app developer" %>

<section class="banner small">
  <div class="container">
    <div class="hero">
      <h1>Interested in Hiring Us?</h1>
    </div>
  </div>
</section>

<section class="contact-form">
  <div class="container">
    <h2>Let's begin the conversation</h2>
    <div id="contact-form"></div>
  </div>

  
</section>
