<% content_for(:extra_body_classes, 'pages-contact') %>

<% meta title: 'Contact Us | Animas Code Labs',
description: "Hire Animas Code Labs as your web and mobile app developer" %>

<section class="banner">
  <div class="hackfest-banner banner-picture">
    <div class="gradient"></div>
      <div class="banner-text-wrapper">
        <div class="contact-text">
          <h1>CONTACT US</h1>
          <p>LET'S TAKE YOUR PROJECT TO NEW HEIGHTS</p>
        </div>
      </div>
  </div>
</section>


<section class="outer-container">
  <section class="conversation">
    <div class="conversation-text">
      <article>
        <h2>Let's begin the conversation</h2>
        <p>Dolor ullamco elit non id sit adipisicing irure occaecat ex aliquip. Laborum cillum quis pariatur sint cupidatat
          aute tempor aliquip magna cillum et. Velit aliquip labore ea fugiat sit cupidatat est et. Anim eiusmod quis
          irure ipsum sit adipisicing reprehenderit commodo minim do veniam. Ex esse consequat magna adipisicing ut
          sit proident tempor consectetur non. Enim aute eiusmod aliqua labore amet ad commodo consectetur reprehenderit
          eu eiusmod non officia anim.
        </p>
      </article>
      <aside>
        <section class="email-phone-address">
          <div class="email">
            <i class="icon-mail"></i>
              <%= mail_to "info@animascodelabs.com" %>
          </div>
          <div class="phone">
            <i class="icon-phone"></i>
              <%= link_to "970-403-5085", "tel:1-970-403-5085" %>
          </div>
          <div class="address">
            <i class="icon-location"></i>
              367 Valley View Place<br>
              Bayfield, CO 81122
          </div>
        </section>
      </aside>
    </div>
  </section>

  <section class="contact-form">
    <article>
      <form action="">
        <label for="first-name">First Name:</label>
        <input id="first-name" type="text" name="First Name">
        <label for="last-nmae">Last Name:</label>
        <input id="last-name" type="text" name="Last Name">
        <label for="email">Email:</label>
        <input id="email" type="text" name="Email">
        <label for="phone">Phone:</label>
        <input id="phone" type="text" name="Phone">
        <input id="GET-name" type="text" name="Tell us about your project or just drop us a line.">
        <input type="submit" type="text" value="LET'S GET STARTED">
      </form>
    </article>


  </section>
</section>
