
<section class="banner">
  <div class="container">
    <div class="hero">
      <h1>We are a full service<br>
        web and mobile development shop</h1>
      <p>We are a small full-service studio proudly based in Durango, CO. We 
        focus on cutting edge web and mobile applications.</p>
    </div>
  </div>
</section>

<section class="featured-projects">
  <div class="container">
    <section class="project acl">
      <h1>Animas Code Labs</h1>
      <p>Website</p>
    </section>
    <section class="project cob">
      <h1>Closeout Bike</h1>
    </section>
    <section class="project creeklife">
      <h1>Creeklife</h1>
    </section>
  </div>

</section>
