
<section class="banner">
  <div class="hero">
    <h1>We are a full service<br>
      web and mobile development shop</h1>
    <p>We are a small full-service studio proudly based in Durango, CO. We 
      focus on cutting edge web and mobile applications.</p>
  </div>
</section>

<section class="featured-project">
  <div class="content">
    <header>
      <h1>Latest Projects</h1>
    </header>
  </div>

</section>
