<% meta description: "Web and mobile app development services in Durango, Colorado" %>

<section class="banner">
  <div class="container">
    <div class="hero">
      <h1>Cutting Edge Web<br/>
        And Mobile Apps
      </h1>
      <div class="separator">&bull; &bull; &bull;</div>
      <p>We are a small full-service studio proudly based in Durango, CO.<br />
        We focus on cutting edge web and mobile applications.</p>
    </div>
  </div>
</section>

<section class="featured-projects">
  <div class="container">
    <section class="project cob">
      <%= link_to "http://closeoutbike.com", target: "_blank" do %>
        <h1>Closeout Bike</h1>
      <% end %>
    </section>
    <section class="project vallecito">
      <%= link_to "http://vallecitolakechamber.com", target: "_blank" do %>
        <h1>Vallecito Lake Chamber of Commerce</h1>
      <% end %>
    </section>
    <section class="project creeklife">
      <%= link_to "http://creeklife.com", target: "_blank" do %>
        <h1>Creeklife</h1>
      <% end %>
    </section>
  </div>
</section>


<section class="contact-info">
  <div class="container">
    <div class="left">
      <h1>Let's Work Together</h1>
      <p>Contact us or call us at (970) 403-5085 to begin the conversation.</p>
    </div>
    <div class="right">
      <span class="durango-map" role="img" aria-label="Made in Durango, Colorado">
        <span class="inner"></span>
      </span>
    </div>
  </div>
</section>
