<% meta description: "Web and mobile app development services in Durango, Colorado" %>

<section class="banner">
  <div class="container">
    <div class="hero">
      <h1>Cutting Edge Web<br/>
        And Mobile Apps
      </h1>
      <p>We are a small full-service studio proudly based in Durango, CO. We 
        focus on cutting edge web and mobile applications.</p>
    </div>
  </div>
</section>

<section class="featured-projects">
  <div class="container">
    <section class="project cob">
      <h1>Closeout Bike</h1>
    </section>
    <section class="project vallecito">
      <h1>Vallecito Lake Chamber of Commerce</h1>
    </section>
    <section class="project creeklife">
      <h1>Creeklife</h1>
    </section>
  </div>
</section>


<section class="contact-info">
  <div class="container">
  <div class="left">
    <h1>Let's Work Together</h1>
    <p>Contact us or call us at (970) 403-5085 to begin the conversation.</p>
  </div>
  <div class="right">
    <%= image_tag 'durango-map.jpg', alt: 'Made in Durango, Colorado' %>
  </div>
</div>
</section>
