<p>Hi Aaron,</p>

<p>Looks like you just got a new message from <%= @message.name %> submitted via your website.</p>

<blockquote>
  <%= simple_format @message.body %>
</blockquote>

<p>Don't forget to respond to this email!</p>

<p>Sincerely,<br/>
  Your Website
</p>
