$headline-font: 'Montserrat', $helvetica;
$body-font: 'Pontano Sans', $helvetica;
$headline-color: #2f3440;
$marketing-text-color: #888888;
$red-color: #ea6045;

body{
  font-family: $body-font;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: $headline-font;
}

h1 {
  text-transform: uppercase;
}

nav{
  ul{
    margin: 0;
    padding: 0;
  }

  li{
    @include inline-block; 
    margin: 0 1em;
  }
}

.container{
  @include outer-container;
}

%subtle-top-border{
  border-top: 1px solid #e6e6e6;
}


#site-header{
  box-shadow: 0 0 10px #E0E0E0;
  padding: 1em;
  position: relative;
  @include clearfix;

  .logo{
    height: 4em; 
    float: left;
  }


  // From http://css-tricks.com/centering-in-the-unknown/
  #site-nav{
    float: right;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align:middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }

  }

}


#site-footer{
  .container{ @include pad; }

  @extend %subtle-top-border;

  .copyright{
    float: left;
  }
  .site-footer-nav{
    float: right;
  }
}

.banner{
  background-color: #EEEEEE;

  .hero{

    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 100%;


    h1{
      font-size: 5em;
      text-shadow: 0 1px 1px #000;
      color: $headline-color;
      text-transform: uppercase;
    }

    p{
      color: $marketing-text-color;
      font-size: 2em;
    }
  }
}

.contact-info{
  @extend %subtle-top-border;
  .container{
    @include pad(4em default 4em default);
  }

  .left, .right{
    @include span-columns(6);
    @include omega(2n);
  }

  p{
    color: $marketing-text-color;
    font-size: 1.25em;
  }

}
