.featured-projects{
  .container{
    @include pad(5em default 5em default);
  }
}
.featured-projects .project{
  // @include inline-block;
  @include span-columns(4);
  @include omega(3n);

  @include media($break-narrow){
    @include span-columns(12);
    @include omega;
  }

  height: 0;
  @include pad;
  padding-top: 0;
  padding-bottom: flex-grid(4);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  a{
    @include position(absolute, 0px 0px 0px 0px);
  }

  &.vallecito{
    background-image: asset_url('vallecito-chamber-iphone.jpg');

    @include hide-text;
  }

  &.cob{
    background-image: asset_url('closeoutbike-ipad.jpg');

    @include hide-text;
  }

  &.creeklife{
    background-image: asset_url('creeklife-logo.jpg');

    @include hide-text;
  }
}

