.featured-projects{
  .container{
    @include pad(5em default 5em default);

    @include media($break-narrow){
      @include pad;
    }
  }
}
.featured-projects .project{
  // @include inline-block;
  @include span-columns(4);
  @include omega(3n);

  @include media($break-narrow){
    @include span-columns(12);
    @include omega;
    @include pad;
  }


  a{
   display: block; 
    @include hide-text;
    padding-bottom: 100%;
    background-size: cover;
  }


  &.vallecito a {
    background-image: asset_url('vallecito-chamber-iphone.jpg');

  }

  &.cob a{
    background-image: asset_url('closeoutbike-ipad.jpg');
  }

  &.creeklife a{
    background-image: asset_url('creeklife-logo.jpg');
  }
}

