#site-header {
  padding: 0 30px;
  @include clearfix;

  .logo{
    @include hide-text;
    @include retina-image(header-logo, 150px 51px, $asset-pipeline: true);
    @include size(150px 51px);

    float: none;
    margin: ((100px - 51px)/2) 0;
  }

  .mobile-nav-toggle  {
    display: none;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  nav {
    @extend %header-text;
    position: absolute;
    top: 0;
    right: 30px;
    display: block;
    margin-top: 21px;

    li {
      font-size: em(14);
      display: inline-block;
      line-height: 100px;
      margin-left: 20px;

      a {
        color: $base-font-color;
        margin-left: 17px;

        &:hover{
          color: $dark-gray;
        }
      }
    }
  }

  @include media($break-small-medium)  {
    padding: 5px;
    padding-left: 10px;
    .mobile-nav-toggle  {
      display: inline-block;
      float: none;
    }

    nav {
      position: static;
      max-height: 0px;
      overflow: hidden;
      @include transition(all .5s ease-in-out);

      li  {
        display: block;
        line-height: 50px;
        margin-left: 0px;
      }

      &.active  {
        max-height: 600px;
      }
    }
  }
}

#site-footer {
  background-color: $dark-gray;

  &, a {
    color: white;

    @include media($break-small)  {
      font-size: 14px;
    }
  }

  .brand-colorado-logo{
    @include retina-image(footer/colorado-company-logo, 100px 100px, $asset-pipeline: true);
    @include size(100px 100px);
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .top-row {
    @extend %header-text;
    font-size: 14px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;

    .brand-colorado-logo{
      display: none;

      @include media($break-small)  {
        display: block;
      }

      @include media($break-medium) {
        display: block;
        margin-top: 45px;
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      color: $medium-gray;
    }

    .email  {
      margin: 0 auto;
      display: inline-block;


      @include media($break-small)  {
        margin-right: 0px;
        margin-bottom: 20px;
        display: block;
      }

      @include media($break-large-xlarge) {
        position: absolute;
        right: 30px;
      }
    }

    #site-footer-nav {
      position: absolute;

      li {
        display: inline-block;
        margin-right: 1em;
      }

      @include media($break-medium) {
        position: static;
        margin-bottom: 50px;
      }

      @include media($break-small)  {
        position: static;

        li  {
          display: block;
          margin-top: 17px;
        }
      }
    }

    .email  {
      display: inline-block;

      @include media($break-small)  {
        position: static;
      }

      @include media($break-medium) {
        display: block;
        position: static;
        margin-bottom: 20px;
      }
    }

    .phone  {
      display: inline-block;
      position: absolute;
      top: 30px;
      right: 300px;

      @include media($break-small)  {
        padding-top: 0px;
        display: inline-block;
        position: static;
      }

      @include media($break-medium) {

      }

      @include media($break-large-xlarge) {
        position: static;
      }
    }

    .social {
      display: block;
      margin-left: 0px;
      position: absolute;
      top: 30px;
      right: 30px;

      .label{
        margin-right: 10px;
      }

      ul,li {
        display: inline-block;
      }

      ul{
        vertical-align: top;
        position: relative;
        top: -2px;
      }

      a {
        color: $medium-gray;
        font-size: 24px;

        &:hover{
          color: white;
        }
      }

      @include media($break-medium) {
        position: static;
      }

      @include media($break-large-xlarge) {
        position: static;

        .label{
          display: block;
          margin-top: 30px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .bottom-row {
    padding: 12px 10px 20px 10px;
    border-top: 1px solid $medium-gray;

    @include media($break-small)  {
      .brand-colorado-logo {
        display: none;
      }
    }

    @include media($break-medium)  {
      .brand-colorado-logo {
        display: none;
      }
    }

    .copyright{
      font-size: 12px;
      margin-left: 20px;

      @include media($break-medium)  {
          text-align: center;
      }
    }
  }
}
